/*  border-box hack */
/* ----------------- */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* special feature */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* begin picture frame technique to resize images */
.thumbnail-item {
    /* controls the size of the image */
    height: 150px;
    width: 30%;
    margin-bottom: 20px;
    /* outline: 1px solid red; */

    /* alternative to using flexbox for centering of images or text */
    text-align: center;
}

.thumbnail-item > img {
    /* the img adapts to its parent */
    /* definitely use both max-height and max-width */
    max-height: 100%;
    max-width: 100%;
}
/* end picture frame technique */

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
/* Distributes left over space: */
    justify-content: space-around; 

}

.picture-frame { 
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    /* display: flex;
    justify-content: space-around; */
}

.picture-frame > img {
    max-height: 100%;
    max-width: 100%;
}
